@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Light mode default */
    @apply bg-gray-50 text-gray-900;
  }
  
  /* Dark mode */
  .dark body {
    @apply bg-gray-900 text-gray-100;
  }
  
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }
}